:root{
    --main-color1: #6db4c8;
    --main-color2: #717171;
    --main-hoverColor1: #1b809c; 
    --main-hoverColor2: #012339;
    --main-whiteColor: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:var(--main-whiteColor);
    font-family: system-ui,sans-serif;
}
h1 {
    font-size: 3.5rem;
    font-weight: 900;
}
h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 900;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 900;
}
p , a {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}
p {
    text-align: left;
}
.first a , .third a { 
    display: inline-block;
    border: 2px solid var(--main-whiteColor);
    background: #01173963;
    box-shadow: 2px 2px 10px var(--main-color1);
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 3px;
}
.first a:hover{ 
    border-top-color: var(--main-hoverColor1);
    border-right-color: var(--main-hoverColor1);
    border-left-color: var(--main-color2);
    border-bottom-color: var(--main-color2);
}
.third a:hover { 
    border-top-color: var(--main-hoverColor1);
    border-right-color: var(--main-hoverColor1);
    border-left-color: var(--main-hoverColor2);
    border-bottom-color: var(--main-hoverColor2);
}
button{ 
    border: 2px solid var(--main-whiteColor);
    background: #01173963;
    box-shadow: 2px 2px 10px var(--main-color1);
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 3px;
}
button:hover{
    border-top-color: var(--main-hoverColor1);
    border-right-color: var(--main-hoverColor1);
    border-left-color: var(--main-color2);
    border-bottom-color: var(--main-color2);
    cursor: pointer;
}
.cont {
    position: relative;
    width: 100%;
}
.cont .pageImage {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
}
.cont .pageImage img{
    width: 100%;
    height: 100vh;
}
.cont header {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:30vh 1fr;
    width: 100%;
    height: 100vh;
}
.cont header .logo {
    grid-column: 1/7;
    justify-self: center;
    align-self: center;
    margin: 20vh 0 auto ;
}
.cont header .logo img {
    display: block;
    width: 250px;
}
.cont header .first {
    grid-column: 1/7;
    justify-self: center;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
}
.cont header .first p{ 
    text-align: center;
}
.cont section {
    background-image: linear-gradient(to left , #717171 , #6db4c8);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 60vh;
    width: 100%;
}
.cont section .image {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
}
.cont section .image img { 
    border-radius: 10%;
    box-shadow: -10px 10px 10px var(--main-color2);
}
.cont .second {
    background-color: #6db4c8;
    background-image: linear-gradient(to right , var(--main-color2) , var(--main-color1));
}
.cont section .text {
    grid-column: 4/7;
    align-self: center;
    padding: 0 5%;
}
.cont .second .image {
    grid-column: 4/7;
}
.cont .second .image img{ 
    box-shadow: 10px 10px 10px var(--main-color2);
}
.cont .second .text {
    grid-column: 1/4;
    grid-row: 1;
}
.cont section .text button:hover {
    border-left-color: var(--main-hoverColor2);
    border-bottom-color: var(--main-hoverColor2);
}
.cont footer{
    background-color: #00000040;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
    padding: 15px 0 30px 0;
}
.cont footer h2{
    grid-column: 1/7;
    justify-self: center;
    align-self: end;
    margin: 15px;
}
.cont footer div {
    text-align: center;
    line-height: 1;
}
.cont footer div p {
    text-align: center;
}
.cont footer div a {
    text-decoration: none;
}
.cont footer .firma{ 
    grid-column: 1/7;
    justify-self: center;
}
.cont footer .info1{ 
    grid-column: 3/4;
}
.cont footer .info2{ 
    grid-column: 4/5;
}

@media (max-width: 1000px) {
    h1{
        font-size: 27px;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 16px;
        text-align: center;
        padding: 0 15px;
    }
    button{
        display: block;
        margin: 10px auto;
        font-size: 16px;
        width: 50%;
    }
    .cont .pageImage {
        width: 200%;
    }
    .first a , .third a{ 
        font-size: 16px;
        width: 50%;
        margin: 5px 0;
    }
    .cont section{
        height: auto;
        width: 100%;
        padding: 15px 0;
        background-image: linear-gradient(to top , var(--main-color2) , var(--main-color1));
    }
    .cont section .image{
        grid-column: 1/7;
    }
    .cont section .image img{
        display: block;
        width: 80%;
        margin: auto;
    }
    .cont section .text{
        padding: 0;
        text-align: center;
        margin-top: 15px;
        grid-column: 1/7;
    }
    .cont .second{
        background-color: var(--main-color2);
        background-image: none;
    }
    .cont .third{
        background-image: linear-gradient(to bottom ,var(--main-color2) ,var(--main-color1) );
    }
    .cont .second .image {
        grid-column: 1/7;
    }
    .cont .second .text{
        grid-column: 1/7;
        grid-row: 2;
    }
    .cont footer{
        padding: 15px 0;
    }
    .cont footer h2{
        align-self: flex-start;
    }
    .cont footer .info1{
        grid-column: 1/7;
    }
    .cont footer .info2{
        grid-column: 1/7;
    }
}
@media (max-height: 600px) {
    .cont section{
        height: auto;
        padding: 25px 0;
    }
}
